body {
    margin: 0;
}
/*MENU*/
.menu-container {
    background: url(../img/menu.png) no-repeat center top;
    background-size: contain;
    width: 1340px;
    height: 210px;
    margin: 0 auto;
    margin-top: 20px;
}
.menu-items, .menu-items * {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-center-logo {
    background: url(../img/menu-logo.png) no-repeat center top;
    background-size: contain;
    order: 2;
    flex: 3;
    justify-content: center;
}
.left-menu-items {
    height: 25px;
    order: 1;
    flex: 4;    
    justify-content: flex-end;
}
.right-menu-items {
    height: 25px;
    order: 3;
    flex: 4;
    justify-content: flex-start;
}

.right-menu-items a, .left-menu-items a {
    border-left: 1px solid black
}
.right-menu-items a:last-child, .left-menu-items a:last-child {
    border-right: 1px solid black
}
a {
    padding: 0 10px;
}

.content {
    width: 1340px;
    height: 385px;
    margin: 0 auto;
    margin-top: 35px;
}

.flex, .flex * {
    display: flex;
}
.slider {
    height: 100%;
}
.slider * {
    height: 100%;
    background-color: bisque;
    background-size: cover;
}
.s-left {
    order: 0;
    flex: 2;
    background-position: right;
}
.s-center {
    order: 1;
    flex: 3;
    margin: 0 10px;
    background-position: center;
}
.s-right {
    order: 2;
    flex: 2;
    background-position: left;
}